@import url("https://fonts.googleapis.com/css2?family=Borel&family=Playfair+Display:ital@1&family=Roboto+Mono&display=swap");
* {
  margin: 0;
}
body {
  font-family: "Playfair Display", serif;
}
.container {
  overflow: auto;
  background-color: black;
  color: aliceblue;
  padding: 10px;
}
.logo p {
  color: aliceblue;
  font-size: 20px;
  font-weight: bold;

  float: left;
}
nav {
  float: right;
}
ul li {
  display: inline-block;
}
ul li a {
  padding: 20px;
  color: aliceblue;
  font-size: 20px;
  text-decoration: none;
}
.welcome-container {
  position: relative;
}
.welcome-container img {
  width: 100%;
  height: 500px;
}
.text-block {
  position: absolute;
  color: aliceblue;
  background-color: black;
  bottom: 20px;
  right: 20px;
  padding: 20px;
}
.about-container {
  margin-top: 20px;
  text-align: center;
}
.about-container p {
  font-size: 20px;
}
ul li a:hover {
  background-color: aliceblue;
  color: black;
}

.food {
  padding: 1%;
  margin-left: 8%;
  float: left;
  width: 200px;
  text-align: center;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.food img {
  width: 180px;
  height: 140px;
}
.food h2 {
  text-align: left;
  padding-left: 10px;
}

.food:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
